# Suicide Rates Project

In [3]:
%pip install opendatasets

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: opendatasets in c:\users\herre\appdata\roaming\python\python312\site-packages (0.1.22)
Requirement already satisfied: tqdm in c:\users\herre\appdata\roaming\python\python312\site-packages (from opendatasets) (4.66.1)
Requirement already satisfied: kaggle in c:\users\herre\appdata\roaming\python\python312\site-packages (from opendatasets) (1.5.16)
Requirement already satisfied: click in c:\users\herre\appdata\roaming\python\python312\site-packages (from opendatasets) (8.1.7)
Requirement already satisfied: colorama in c:\users\herre\appdata\roaming\python\python312\site-packages (from click->opendatasets) (0.4.6)
Requirement already satisfied: six>=1.10 in c:\users\herre\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi in c:\users\herre\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (2023.7.22)
Requirement already satisfied: python-dateutil in c:\users\herre\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in c:\users\herre\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (2.31.0)
Requirement already satisfied: python-slugify in c:\users\herre\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (8.0.1)
Requirement already satisfied: urllib3 in c:\users\herre\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (1.26.18)
Requirement already satisfied: bleach in c:\users\herre\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (6.1.0)
Requirement already satisfied: webencodings in c:\users\herre\appdata\roaming\python\python312\site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\herre\appdata\roaming\python\python312\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\herre\appdata\roaming\python\python312\site-packages (from requests->kaggle->opendatasets) (3.3.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\herre\appdata\roaming\python\python312\site-packages (from requests->kaggle->opendatasets) (3.4)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: opendatasets in c:\users\herre\appdata\roaming\python\python312\site-packages (0.1.22)
Requirement already satisfied: tqdm in c:\users\herre\appdata\roaming\python\python312\site-packages (from opendatasets) (4.66.1)
Requirement already satisfied: kaggle in c:\users\herre\appdata\roaming\python\python312\site-packages (from opendatasets) (1.5.16)
Requirement already satisfied: click in c:\users\herre\appdata\roaming\python\python312\site-packages (from opendatasets) (8.1.7)
Requirement already satisfied: colorama in c:\users\herre\appdata\roaming\python\python312\site-packages (from click->opendatasets) (0.4.6)
Requirement already satisfied: six>=1.10 in c:\users\herre\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi in c:\users\herre\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (2023.7.22)
Requirement already satisfied: python-dateutil in c:\users\herre\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in c:\users\herre\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (2.31.0)
Requirement already satisfied: python-slugify in c:\users\herre\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (8.0.1)
Requirement already satisfied: urllib3 in c:\users\herre\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (1.26.18)
Requirement already satisfied: bleach in c:\users\herre\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (6.1.0)
Requirement already satisfied: webencodings in c:\users\herre\appdata\roaming\python\python312\site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\herre\appdata\roaming\python\python312\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\herre\appdata\roaming\python\python312\site-packages (from requests->kaggle->opendatasets) (3.3.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\herre\appdata\roaming\python\python312\site-packages (from requests->kaggle->opendatasets) (3.4)
Note: you may need to restart the kernel to use updated packages.

### Import libraries

In [23]:
import opendatasets as od
import os
import pandas as pd
import numpy as np

### Read File

In [5]:
dataset_link="https://www.kaggle.com/datasets/russellyates88/suicide-rates-overview-1985-to-2016/code?datasetId=85351&sortBy=voteCount"
od.download(dataset_link)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:Your Kaggle Key:Downloading suicide-rates-overview-1985-to-2016.zip to .\suicide-rates-overview-1985-to-2016

100%|██████████| 397k/397k [00:00<00:00, 1.48MB/s]

In [28]:
os.chdir("C:/Users/herre/JupyterNotebooks/Notebooks/PortfolioCAHL/PortfolioCAHL/suicide-rates-overview-1985-to-2016")

In [31]:
file = "master.csv"
df = pd.read_csv(file)

In [32]:
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

### Data Description

In [39]:
df.shape

(27820, 12)

In [33]:
df.describe()

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp_per_capita ($)
count,27820.000000,27820.000000,2.782000e+04,27820.000000,8364.000000,27820.000000
mean,2001.258375,242.574407,1.844794e+06,12.816097,0.776601,16866.464414
std,8.469055,902.047917,3.911779e+06,18.961511,0.093367,18887.576472
min,1985.000000,0.000000,2.780000e+02,0.000000,0.483000,251.000000
25%,1995.000000,3.000000,9.749850e+04,0.920000,0.713000,3447.000000
50%,2002.000000,25.000000,4.301500e+05,5.990000,0.779000,9372.000000
75%,2008.000000,131.000000,1.486143e+06,16.620000,0.855000,24874.000000
max,2016.000000,22338.000000,4.380521e+07,224.970000,0.944000,126352.000000

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             27820 non-null  object
 1   year                27820 non-null  int64
 2   sex                 27820 non-null  object
 3   age                 27820 non-null  object
 4   suicides_no         27820 non-null  int64
 5   population          27820 non-null  int64
 6   suicides/100k pop   27820 non-null  float64
 7   country-year        27820 non-null  object
 8   HDI for year        8364 non-null   float64
 9    gdp_for_year ($)   27820 non-null  object
 10  gdp_per_capita ($)  27820 non-null  int64
 11  generation          27820 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

In [37]:
df.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [38]:
df = df.rename(columns={'country':'Country', 'year':'Year', 'sex':'Sex', 'age':'Age', 'suicides_no':'SuicidesNo', 'population':'Population',
       'suicides/100k pop':'Suicides100kpop', 'country-year':'CountryYear', 'HDI for year':'HDIYear',
       ' gdp_for_year ($) ':'GdpYear', 'gdp_per_capita ($)':'GdpPerCapita', 'generation':'Generation'})
df.columns

Index(['Country', 'Year', 'Sex', 'Age', 'SuicidesNo', 'Population',
       'Suicides100kpop', 'CountryYear', 'HDIYear', 'GdpYear', 'GdpPerCapita',
       'Generation'],
      dtype='object')

### Missing values

In [41]:
df.isnull().any()

Country            False
Year               False
Sex                False
Age                False
SuicidesNo         False
Population         False
Suicides100kpop    False
CountryYear        False
HDIYear             True
GdpYear            False
GdpPerCapita       False
Generation         False
dtype: bool

In [42]:
df.isnull().sum()

Country                0
Year                   0
Sex                    0
Age                    0
SuicidesNo             0
Population             0
Suicides100kpop        0
CountryYear            0
HDIYear            19456
GdpYear                0
GdpPerCapita           0
Generation             0
dtype: int64

In [43]:
df.drop(['HDIYear'],axis=1,inplace=True)
df.isnull().any()

Country            False
Year               False
Sex                False
Age                False
SuicidesNo         False
Population         False
Suicides100kpop    False
CountryYear        False
GdpYear            False
GdpPerCapita       False
Generation         False
dtype: bool

### Data Normalization

In [48]:
df['SuicidesNoNorm'] = df['SuicidesNo']/df['SuicidesNo'].max()
df['PopulationNorm'] =  df['Population']/df['Population'].max()
df['GdpPerCapitaNorm'] = df['GdpPerCapita']/df['GdpPerCapita'].max()
df.head()

,Country,Year,Sex,Age,SuicidesNo,Population,Suicides100kpop,CountryYear,GdpYear,GdpPerCapita,Generation,SuicidesNoNorm,PopulationNorm,GdpPerCapitaNorm
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,"2,156,624,900",796,Generation X,0.000940,0.007143,0.0063
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,"2,156,624,900",796,Silent,0.000716,0.007031,0.0063
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,"2,156,624,900",796,Generation X,0.000627,0.006613,0.0063
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,"2,156,624,900",796,G.I. Generation,0.000045,0.000498,0.0063
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,"2,156,624,900",796,Boomers,0.000403,0.006262,0.0063

### Binning Data

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           27820 non-null  object
 1   Year              27820 non-null  int64
 2   Sex               27820 non-null  object
 3   Age               27820 non-null  object
 4   SuicidesNo        27820 non-null  int64
 5   Population        27820 non-null  int64
 6   Suicides100kpop   27820 non-null  float64
 7   CountryYear       27820 non-null  object
 8   GdpYear           27820 non-null  object
 9   GdpPerCapita      27820 non-null  int64
 10  Generation        27820 non-null  object
 11  SuicidesNoNorm    27820 non-null  float64
 12  PopulationNorm    27820 non-null  float64
 13  GdpPerCapitaNorm  27820 non-null  float64
dtypes: float64(4), int64(4), object(6)
memory usage: 3.0+ MB