# Data Cleanning

Tabla de contenido

In [86]:
# Import Libraries
import numpy as np 
import pandas as pd

Data Exploratory

In [87]:
# File location
file = "./Data/Base_Assestment_v2.xlsx"

# Channels
# Load Banches DataFrame
df_branches = pd.read_excel(file,sheet_name="Sucursales")

# Load Contac Center DataFrame
df_contact_center = pd.read_excel(file,sheet_name="Contac Center")

# Load Digital Channel DataFrame
df_digital_channel = pd.read_excel(file,sheet_name="Canal Digital")

# Programs
# Load B2B DataFrame
df_B2B = pd.read_excel(file,sheet_name="B2B")

# Load Credit Card DataFrame
df_credit_card = pd.read_excel(file,sheet_name="Tarjeta de credito")

### Channel Analysis

#### 1. Branches

In [88]:
# first glance to dataset
df_branches.head(2)

,Todos segmentos,Fecha de Respuesta (EST),NPS,Impacto de Interacción Reciente,¿Por qué?,¿Qué podemos hacer para atenderte mejor?
0,Segmento 1,MES 1,0,3,Porque el banco no respalda a sus clientes y t...,Es un banco ineficiente
1,Segmento 1,MES 2,5,2,No sé soluciono el problema,Más oficinas

In [89]:
# Get the information about the dataset related with Dtypes, number of columns and number of rows.
df_branches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 6 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Todos segmentos                           993 non-null    object
 1   Fecha de Respuesta (EST)                  999 non-null    object
 2   NPS                                       999 non-null    int64
 3   Impacto de Interacción Reciente           999 non-null    int64
 4   ¿Por qué?                                 987 non-null    object
 5   ¿Qué podemos hacer para atenderte mejor?  790 non-null    object
dtypes: int64(2), object(4)
memory usage: 47.0+ KB

In [90]:
# Change the columns names to avoid problems with the names
segment_colums = ['segment','answerDate','NPS','impactInteraction','reason','improvement']
df_branches.columns = segment_colums
df_branches.columns

Index(['segment', 'answerDate', 'NPS', 'impactInteraction', 'reason',
       'improvement'],
      dtype='object')

In [91]:
# Evaluate missing values
missing_data_branches = df_branches.isnull().sum()
missing_data_branches

segment                6
answerDate             0
NPS                    0
impactInteraction      0
reason                12
improvement          209
dtype: int64

In [92]:
# Here I decide to drop the missing values of segment column because I can not replace the null values
# with the most common features of the variable
df_branches= df_branches.dropna(subset="segment")

In [93]:
# Review the information without missing values in segment columns
df_branches.isnull().sum()

segment                0
answerDate             0
NPS                    0
impactInteraction      0
reason                12
improvement          208
dtype: int64

In [94]:
# Reset index
df_branches = df_branches.reset_index()

In [95]:
# Review the information dataset without the null values in segment column
df_branches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 993 entries, 0 to 992
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              993 non-null    int64
 1   segment            993 non-null    object
 2   answerDate         993 non-null    object
 3   NPS                993 non-null    int64
 4   impactInteraction  993 non-null    int64
 5   reason             981 non-null    object
 6   improvement        785 non-null    object
dtypes: int64(3), object(4)
memory usage: 54.4+ KB

#### 2. Contact Center

In [96]:
# First glance to datatset
df_contact_center.head(2)

,Todos segmentos,Fecha de Respuesta (EST),NPS,Impacto de Interacción Reciente,¿Por qué?,¿Qué podemos hacer para atenderte mejor?
0,Segmento 1,MES 2,0,5.0,"Me ofrecieron beneficios que no eran ciertos, ...",No quiero volver a tener ninguna relación con ...
1,Segmento 1,MES 3,3,1.0,"Atención supremamente demorada, en la anterior...",No creo necesario me vuelvan a atender.

In [97]:
## Get the information of dataset related with column types, number of columns, and number of rows.
df_contact_center.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998 entries, 0 to 997
Data columns (total 6 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Todos segmentos                           997 non-null    object
 1   Fecha de Respuesta (EST)                  998 non-null    object
 2   NPS                                       998 non-null    int64
 3   Impacto de Interacción Reciente           986 non-null    float64
 4   ¿Por qué?                                 787 non-null    object
 5   ¿Qué podemos hacer para atenderte mejor?  644 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 46.9+ KB

In [98]:
# Change the column names to avoid problems with the column names
contact_center_columns = ['segment','answerDate','NPS','impactInteraction','reason','improvement']
df_contact_center.columns = contact_center_columns
df_contact_center.columns

Index(['segment', 'answerDate', 'NPS', 'impactInteraction', 'reason',
       'improvement'],
      dtype='object')

In [99]:
# Evaluate missing values in dataset
missing_data_contact = df_contact_center.isnull().sum()
missing_data_contact

segment                1
answerDate             0
NPS                    0
impactInteraction     12
reason               211
improvement          354
dtype: int64

In [100]:
# Drop missing values in segment column
df_contact_center = df_contact_center.dropna(subset='segment')

In [101]:
# Replace the missing values in impact interaction with most common features
common_values_contact = df_contact_center.impactInteraction.value_counts().idxmax()
print(f"Most Common Value for Contact Center: {common_values_contact}")


df_contact_center.impactInteraction.replace(np.nan, common_values_contact, inplace=True)
df_contact_center.isnull().sum()

Most Common Value for Contact Center: 5.0

segment                0
answerDate             0
NPS                    0
impactInteraction      0
reason               211
improvement          353
dtype: int64

In [102]:
# Reset index
df_contact_center.reset_index(inplace=True)

In [103]:
# Get the information without the missing values in segment and impactInteraction columns
df_contact_center.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997 entries, 0 to 996
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              997 non-null    int64
 1   segment            997 non-null    object
 2   answerDate         997 non-null    object
 3   NPS                997 non-null    int64
 4   impactInteraction  997 non-null    float64
 5   reason             786 non-null    object
 6   improvement        644 non-null    object
dtypes: float64(1), int64(2), object(4)
memory usage: 54.7+ KB

#### 3. Digital Channel

In [104]:
# First glance to the dataset
df_digital_channel.head(2)

,Todos segmentos,Fecha de Respuesta (EST),NPS,Impacto de Interacción Reciente,¿Por qué?,¿Qué podemos hacer para atenderte mejor?
0,Segmento 2,MES 1,0,3,Porque no quiero hacer nada con ustedes. Solo ...,Nada
1,Segmento 1,MES 2,4,2,Siempre que quiero mirar mis transacciones de ...,Mejorar la información de transacciones de la app

In [105]:
# Get the information of dataset related with column types, number of columns and number of rows
df_digital_channel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 6 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Todos segmentos                           993 non-null    object
 1   Fecha de Respuesta (EST)                  999 non-null    object
 2   NPS                                       999 non-null    int64
 3   Impacto de Interacción Reciente           999 non-null    int64
 4   ¿Por qué?                                 787 non-null    object
 5   ¿Qué podemos hacer para atenderte mejor?  711 non-null    object
dtypes: int64(2), object(4)
memory usage: 47.0+ KB

In [106]:
# Get the columns names

df_digital_channel.columns

Index(['Todos segmentos', 'Fecha de Respuesta (EST)', 'NPS',
       'Impacto de Interacción Reciente', '¿Por qué?',
       '¿Qué podemos hacer para atenderte mejor?'],
      dtype='object')

In [107]:
# Change columns names to avoid problems with column names
digital_columns = ['segment','answerDate','NPS','impactInteraction','reason','improvement']
df_digital_channel.columns = digital_columns
df_digital_channel.columns

Index(['segment', 'answerDate', 'NPS', 'impactInteraction', 'reason',
       'improvement'],
      dtype='object')

In [108]:
# Evaluate the missing values in dataset
missing_data_digital = df_digital_channel.isnull().sum()
missing_data_digital

segment                6
answerDate             0
NPS                    0
impactInteraction      0
reason               212
improvement          288
dtype: int64

In [109]:
# Drop missing values in segment column
df_digital_channel = df_digital_channel.dropna(subset='segment')
df_digital_channel.reset_index(inplace=True)
df_digital_channel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 993 entries, 0 to 992
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              993 non-null    int64
 1   segment            993 non-null    object
 2   answerDate         993 non-null    object
 3   NPS                993 non-null    int64
 4   impactInteraction  993 non-null    int64
 5   reason             783 non-null    object
 6   improvement        707 non-null    object
dtypes: int64(3), object(4)
memory usage: 54.4+ KB

#### 4. B2B

In [110]:
# First glance to dataset
df_B2B.head(2)

,Fecha de respuesta,Tipo de encuesta,NPS BSC,Impacto última interacción,¿Por qué?,¿Qué podemos hacer para servir mejor a tu empresa?,NPS Coverage Team,Impacto última interacción.1,¿Por qué?.1,¿Qué podemos hacer para servir mejor a tu empresa?.1,Nps Relacional,Comentario PDR,Negocio esperado,Comentarios sobre Relación,Comentarios de factores relacionales,Otros comentarios
0,MES 1,Relacional,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,Excelente servicio,Aumente,El Servício recibido es excelente,Excelente experiencia,No gracias
1,MES 1,Relacional,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,Mi opinión va mas afocado a la parte operativa...,Se mantenga,NaN,NaN,NaN

In [111]:
# Get the information about dataset related with column types, number of columns and number of rows
df_B2B.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 925 entries, 0 to 924
Data columns (total 16 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Fecha de respuesta                                    925 non-null    object
 1   Tipo de encuesta                                      925 non-null    object
 2   NPS BSC                                               395 non-null    float64
 3   Impacto última interacción                            395 non-null    object
 4   ¿Por qué?                                             283 non-null    object
 5   ¿Qué podemos hacer para servir mejor a tu empresa?    205 non-null    object
 6   NPS Coverage Team                                     72 non-null     float64
 7   Impacto última interacción.1                          72 non-null     object
 8   ¿Por qué?.1                                           50 non-null     object
 9   ¿Qué podemos hacer para servir mejor a tu empresa?.1  38 non-null     object
 10  Nps Relacional                                        458 non-null    float64
 11  Comentario PDR                                        355 non-null    object
 12  Negocio esperado                                      458 non-null    object
 13  Comentarios sobre Relación                            329 non-null    object
 14  Comentarios de factores relacionales                  218 non-null    object
 15  Otros comentarios                                     117 non-null    object
dtypes: float64(3), object(13)
memory usage: 115.8+ KB

In [112]:
# Get the column names
df_B2B.columns

Index(['Fecha de respuesta', 'Tipo de encuesta', 'NPS BSC',
       'Impacto última interacción', '¿Por qué?',
       '¿Qué podemos hacer para servir mejor a tu empresa?',
       'NPS Coverage Team', 'Impacto última interacción.1', '¿Por qué?.1',
       '¿Qué podemos hacer para servir mejor a tu empresa?.1',
       'Nps Relacional', 'Comentario PDR', 'Negocio esperado',
       'Comentarios sobre Relación', 'Comentarios de factores relacionales',
       'Otros comentarios'],
      dtype='object')

In [113]:
# Replace the column names to avoid further problems
B2B_columns = ['answerDate', 'surveyType', 'NPS_BSC',
       'impactInteraction', 'reason',
       'improvement',
       'NPS_Coverage_Team', 'impactLastInteraction', 'reasonLastInteraction',
       'improvementLastInteraction',
       'Nps_rel', 'PDR', 'expectedBusiness',
       'commRelation', 'commFactor',
       'commOther']
df_B2B.columns = B2B_columns
df_B2B.columns

Index(['answerDate', 'surveyType', 'NPS_BSC', 'impactInteraction', 'reason',
       'improvement', 'NPS_Coverage_Team', 'impactLastInteraction',
       'reasonLastInteraction', 'improvementLastInteraction', 'Nps_rel', 'PDR',
       'expectedBusiness', 'commRelation', 'commFactor', 'commOther'],
      dtype='object')

In [114]:
# Evaluate missing values
missing_data_b2b = df_B2B.isnull().sum()
missing_data_b2b

answerDate                      0
surveyType                      0
NPS_BSC                       530
impactInteraction             530
reason                        642
improvement                   720
NPS_Coverage_Team             853
impactLastInteraction         853
reasonLastInteraction         875
improvementLastInteraction    887
Nps_rel                       467
PDR                           570
expectedBusiness              467
commRelation                  596
commFactor                    707
commOther                     808
dtype: int64

In [115]:

# Due to the amount of missing values here I try to identify the most common values in variables 
# to determine if exists common features to replace the missing values in the dataset but 
# the amount of missing values is very large so I need to apply other process of data cleaning.
print(f"NPS_BSC unique value count: {df_B2B.NPS_BSC.value_counts()} \n")     
print(f"impactInteraction unique value count: {df_B2B.impactInteraction.value_counts()} \n")
#df_B2B.reason.unique()            
#df_B2B.improvement.unique()          
print(f"NPS_Coverage_Team unique value count: {df_B2B.NPS_Coverage_Team.value_counts()} \n") 
print(f"impactLastInteraction unique value count: {df_B2B.impactLastInteraction.value_counts()} \n")
#df_B2B.reasonLastInteraction.unique() 
#df_B2B.improvementLastInteraction.unique() 
print(f"Nps_rel unique value count: {df_B2B.Nps_rel.value_counts()} \n")      
#df_B2B.PDR.unique()
print(f"Expected Business unique values count: {df_B2B.expectedBusiness.value_counts()} \n")
#df_B2B.commRelation.unique()         
#df_B2B.commFactor.unique()           
#df_B2B.commOther.unique()

NPS_BSC unique value count: NPS_BSC
10.0    183
9.0      64
8.0      46
1.0      21
0.0      21
7.0      19
3.0      13
5.0      10
6.0       7
2.0       7
4.0       4
Name: count, dtype: int64

impactInteraction unique value count: impactInteraction
Aumentó de manera significativa      149
No hubo cambios                      101
Aumentó poco                          79
Disminuyó de manera significativa     43
Disminuyó poco                        23
Name: count, dtype: int64

NPS_Coverage_Team unique value count: NPS_Coverage_Team
10.0    40
9.0     12
8.0      8
6.0      3
7.0      2
4.0      2
5.0      1
3.0      1
0.0      1
1.0      1
2.0      1
Name: count, dtype: int64

impactLastInteraction unique value count: impactLastInteraction
Aumentó de manera significativa      32
No hubo cambios                      17
Aumentó poco                         13
Disminuyó poco                        7
Disminuyó de manera significativa     3
Name: count, dtype: int64

Nps_rel unique value count: Nps_rel
10.0    207
9.0     103
8.0      64
7.0      26
5.0      14
6.0      11
3.0      11
0.0       9
1.0       8
4.0       3
2.0       2
Name: count, dtype: int64

Expected Business unique values count: expectedBusiness
Aumente        298
Se mantenga    135
Disminuya       25
Name: count, dtype: int64

#### 5. credit card

In [116]:
# First glance to dataset
df_credit_card.head(2)

,Nombre de la propiedad,Todos segmentos,Fecha de Interacción,NPS,¿Por qué? VERBATIM,¿Qué mas podemos hacer para mejorar tu experiencia?
0,Onboarding,Segmento 1,MES 1,0,No he solicitado ningún producto con ustedes. ...,NaN
1,Uso,Segmento 1,MES 2,0,Cada uno decide si se endeuda o no,Más claridad en el cobro de los intereses y qu...

In [117]:
# Get te information of dataset related with column types, number of columns and number of rows
df_credit_card.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004 entries, 0 to 1003
Data columns (total 6 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Nombre de la propiedad                               1004 non-null   object
 1   Todos segmentos                                      1001 non-null   object
 2   Fecha de Interacción                                 1004 non-null   object
 3   NPS                                                  1004 non-null   int64
 4   ¿Por qué? VERBATIM                                   820 non-null    object
 5   ¿Qué mas podemos hacer para mejorar tu experiencia?  389 non-null    object
dtypes: int64(1), object(5)
memory usage: 47.2+ KB

In [118]:
# Get the columns names of the dataset 
df_credit_card.columns

Index(['Nombre de la propiedad', 'Todos segmentos', 'Fecha de Interacción',
       'NPS', '¿Por qué? VERBATIM ',
       '¿Qué mas podemos hacer para mejorar tu experiencia?'],
      dtype='object')

In [119]:
# Change columns names to avoid further problems
credit_card_columns = ['propName', 'segment', 'interactionDate',
       'NPS', 'reason_Verbatim ','improvement']
df_credit_card.columns = credit_card_columns
df_credit_card.columns

Index(['propName', 'segment', 'interactionDate', 'NPS', 'reason_Verbatim ',
       'improvement'],
      dtype='object')

In [120]:
# Evaluate missing values
missing_data_credit = df_credit_card.isnull().sum()
missing_data_credit

propName              0
segment               3
interactionDate       0
NPS                   0
reason_Verbatim     184
improvement         615
dtype: int64

In [121]:
# Drop null values in segment column
df_credit_card = df_credit_card.dropna(subset='segment')
df_credit_card.isnull().sum()

propName              0
segment               0
interactionDate       0
NPS                   0
reason_Verbatim     182
improvement         612
dtype: int64

In [122]:
# Reset index
df_credit_card.reset_index(inplace=True)
df_credit_card.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             1001 non-null   int64
 1   propName          1001 non-null   object
 2   segment           1001 non-null   object
 3   interactionDate   1001 non-null   object
 4   NPS               1001 non-null   int64
 5   reason_Verbatim   819 non-null    object
 6   improvement       389 non-null    object
dtypes: int64(2), object(5)
memory usage: 54.9+ KB

In [123]:
# Export the datasets to the next steps of the process. 
df_branches.to_csv("./Data/branches.csv", index=False, header=True)
df_contact_center.to_csv("./Data/contacCenter.csv", index=False, header=True)
df_digital_channel.to_csv("./Data/digitalChannel.csv", index=False, header=True)
df_B2B.to_csv("./Data/b2b.csv", index=False, header=True)
df_credit_card.to_csv("./Data/creditCard.csv", index=False, header=True)