# Pizza Project Data Analysis

In [1]:
import pandas as pd

In [10]:
pizza_df = pd.read_csv('C:/Users/herre/JupyterNotebooks/Notebooks/PortfolioCAHL/PortfolioCAHL/Data Science/PythonDAnalysis/DatabasePizzaProject/pizza_sales.csv')
pizza_df['order_date'] = pd.to_datetime(pizza_df['order_date'], format='%d-%m-%Y')
pizza_df['order_time'] = pd.to_datetime(pizza_df['order_time']).dt.time
pizza_df['Year'] = pizza_df['order_date'].dt.year
pizza_df['Month'] = pizza_df['order_date'].dt.month_name()
pizza_df['DayNum'] = pizza_df['order_date'].dt.day
pizza_df['DayName'] = pizza_df['order_date'].dt.day_name()

C:\Users\herre\AppData\Local\Temp\ipykernel_17672\118800683.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pizza_df['order_time'] = pd.to_datetime(pizza_df['order_time']).dt.time

In [11]:
pizza_df[['order_date','Year','Month','DayNum','DayName']]

      order_date  Year     Month  DayNum   DayName
0     2015-01-01  2015   January       1  Thursday
1     2015-01-01  2015   January       1  Thursday
2     2015-01-01  2015   January       1  Thursday
3     2015-01-01  2015   January       1  Thursday
4     2015-01-01  2015   January       1  Thursday
...          ...   ...       ...     ...       ...
48615 2015-12-31  2015  December      31  Thursday
48616 2015-12-31  2015  December      31  Thursday
48617 2015-12-31  2015  December      31  Thursday
48618 2015-12-31  2015  December      31  Thursday
48619 2015-12-31  2015  December      31  Thursday

[48620 rows x 5 columns]

#### KPI

In [25]:
# Total Revenue
Total_Revenue = (pizza_df['total_price'].sum()).round(2)
Total_Revenue

817860.05

In [26]:
# Average Order Revenue
Avg_Order_Rev = (pizza_df['total_price'].sum()/pizza_df['order_id'].nunique()).round(2)
Avg_Order_Rev

38.31

In [28]:
# Total Pizza Sold
Total_Pizza_Sold = pizza_df['quantity'].sum()
Total_Pizza_Sold

49574

In [29]:
# Total Orders
Total_Orders = pizza_df['order_id'].nunique()
Total_Orders

21350

In [37]:
# Average Pizza per Order
Avg_pizza_order = (Total_Pizza_Sold/Total_Orders).round(2)
Avg_pizza_order

2.32

#### Charts

In [49]:
# Calculate the daily trend for total orders

Daily_Trend_Order = pizza_df.groupby('DayName')['order_id'].nunique().sort_values(ascending=False)
Daily_Trend_Order

DayName
Friday       3538
Thursday     3239
Saturday     3158
Wednesday    3024
Tuesday      2973
Monday       2794
Sunday       2624
Name: order_id, dtype: int64

In [50]:
# Calculate the monthly trend for total orders
Monthly_Trend_Order = pizza_df.groupby('Month')['order_id'].nunique().sort_values(ascending=False)
Monthly_Trend_Order

Month
July         1935
May          1853
January      1845
August       1841
March        1840
April        1799
November     1792
June         1773
February     1685
December     1680
September    1661
October      1646
Name: order_id, dtype: int64

In [85]:
# Percentage of sales by pizza category
Pizza_Category_Sales_P = ((pizza_df.groupby('pizza_category')['total_price'].sum())/pizza_df['total_price'].sum())*100
Pizza_Category_Sales_P.sort_values(ascending=False).round(2)

pizza_category
Classic    26.91
Supreme    25.46
Chicken    23.96
Veggie     23.68
Name: total_price, dtype: float64

In [86]:
# Percentage of quantity by pizza category
Pizza_Category_Quantity_P = ((pizza_df.groupby('pizza_category')['quantity'].sum())/pizza_df['quantity'].sum())*100
Pizza_Category_Quantity_P.sort_values(ascending=False).round(2)

pizza_category
Classic    30.03
Supreme    24.18
Veggie     23.50
Chicken    22.29
Name: quantity, dtype: float64

In [81]:
# Percentage of sales by pizza size
Pizza_Size_Sales_P = ((pizza_df.groupby('pizza_size')['total_price'].sum())/pizza_df['total_price'].sum())*100
Pizza_Size_Sales_P.sort_values(ascending=False).round(2)

pizza_size
L      45.89
M      30.49
S      21.77
XL      1.72
XXL     0.12
Name: total_price, dtype: float64

In [87]:
# Percentage pizza size quantity
Pizza_Size_Quantity_P = ((pizza_df.groupby('pizza_size')['quantity'].sum())/pizza_df['quantity'].sum())*100
Pizza_Size_Quantity_P.sort_values(ascending=False).round(2)

pizza_size
L      38.24
M      31.54
S      29.05
XL      1.11
XXL     0.06
Name: quantity, dtype: float64

In [89]:
# Pizza category sales
Pizza_Category_Sales = pizza_df.groupby('pizza_category')['total_price'].sum()
Pizza_Category_Sales.sort_values(ascending=False)

pizza_category
Classic    220053.10
Supreme    208197.00
Chicken    195919.50
Veggie     193690.45
Name: total_price, dtype: float64

In [94]:
# Pizza size sales
Pizza_Size_Sales = pizza_df.groupby('pizza_size')['total_price'].sum()
Pizza_Size_Sales.sort_values(ascending=False)

pizza_size
L      375318.70
M      249382.25
S      178076.50
XL      14076.00
XXL      1006.60
Name: total_price, dtype: float64

In [93]:
# Pizza category and size sales
Pizza_Cat_Size_Sales = pizza_df.groupby(['pizza_category','pizza_size'])['total_price'].sum()
Pizza_Cat_Size_Sales.reset_index().pivot(index='pizza_category', columns='pizza_size',values='total_price')

pizza_size             L         M         S       XL     XXL
pizza_category
Chicken         102339.0  65224.50  28356.00      NaN     NaN
Classic          74518.5  60581.75  69870.25  14076.0  1006.6
Supreme          94258.5  66475.00  47463.50      NaN     NaN
Veggie          104202.7  57101.00  32386.75      NaN     NaN

In [95]:
# Pizza category and size quantity
Pizza_Cat_Size_Quantity = pizza_df.groupby(['pizza_category','pizza_size'])['quantity'].sum()
Pizza_Cat_Size_Quantity.reset_index().pivot(index='pizza_category', columns='pizza_size',values='quantity')

pizza_size           L       M       S     XL   XXL
pizza_category
Chicken         4932.0  3894.0  2224.0    NaN   NaN
Classic         4057.0  4112.0  6139.0  552.0  28.0
Supreme         4564.0  4046.0  3377.0    NaN   NaN
Veggie          5403.0  3583.0  2663.0    NaN   NaN

In [99]:
# TOP 5 Bestseller pizza by names
Pizza_Best_Seller = pizza_df.groupby('pizza_name')['total_price'].sum()
Pizza_Best_Seller.sort_values(ascending=False).head(5)

pizza_name
The Thai Chicken Pizza          43434.25
The Barbecue Chicken Pizza      42768.00
The California Chicken Pizza    41409.50
The Classic Deluxe Pizza        38180.50
The Spicy Italian Pizza         34831.25
Name: total_price, dtype: float64

In [100]:
# Bottle 5 pizza by name
Pizza_bottle_seller = pizza_df.groupby('pizza_name')['total_price'].sum()
Pizza_bottle_seller.sort_values(ascending=True).head(5)

pizza_name
The Brie Carre Pizza         11588.50
The Green Garden Pizza       13955.75
The Spinach Supreme Pizza    15277.75
The Mediterranean Pizza      15360.50
The Spinach Pesto Pizza      15596.00
Name: total_price, dtype: float64