# Pizza Project Data Analysis

In [1]:
import pandas as pd

In [3]:
%load_ext sql

In [201]:
pizza_df = pd.read_csv('C:/Users/herre/JupyterNotebooks/Notebooks/PortfolioCAHL/PortfolioCAHL/Data Science/SQLPractice/PythonSQLProjects/DatabasePizzaProject/pizza_sales.csv')
pizza_df['order_date'] = pd.to_datetime(pizza_df['order_date'], format='%d-%m-%Y')
pizza_df['order_time'] = pd.to_datetime(pizza_df['order_time']).dt.time
pizza_df['Year'] = year()
pizza_df['Month'] = pd.to_datetime(pizza_df['order_time']).dt.time
pizza_df['Day'] = pd.to_datetime(pizza_df['order_date'], format='%d-%m-%Y')
pizza_df['NumWeekDay'] = pd.to_datetime(pizza_df['order_time']).dt.time
pizza_df['NameWeekDay'] = pd.to_datetime(pizza_df['order_time']).dt.time

pizza_df.to_sql("PizzaData", conn, if_exists='replace', index=False, method='multi', chunksize=100)

C:\Users\herre\AppData\Local\Temp\ipykernel_15948\2205702042.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pizza_df['order_time'] = pd.to_datetime(pizza_df['order_time']).dt.time

48620

In [171]:
%sql sqlite:///PizzaProject.db

In [172]:
# Total Revenue
%sql SELECT ROUND(SUM(total_price),0) as Total_Revenue FROM PizzaData;

 * sqlite:///PizzaProject.db
Done.

[(817860.0,)]

In [173]:
# Average order revenue
%sql SELECT ROUND(SUM(total_price)/ COUNT(DISTINCT(order_id)),2) as Avg_Order_Revenue FROM PizzaData;

 * sqlite:///PizzaProject.db
Done.

[(38.31,)]

In [174]:
# Total Pizza Sold
%sql SELECT SUM(quantity) as Total_Pizza_Sold FROM PizzaData;

 * sqlite:///PizzaProject.db
Done.

[(49574,)]

In [175]:
# Total Orders
%sql SELECT COUNT(DISTINCT(order_id)) as Total_Orders FROM PizzaData;

 * sqlite:///PizzaProject.db
Done.

[(21350,)]

In [176]:
# Average Pizza per Order
%sql SELECT SUM(quantity) / COUNT(DISTINCT order_id) AS Avg_Pizza_Order FROM PizzaData;

 * sqlite:///PizzaProject.db
Done.

[(2,)]

In [177]:
# Daily trend for total orders
%sql UPDATE PizzaData SET order_date = datetime(order_date);
%sql SELECT strftime('%A', order_date) as order_day, COUNT(DISTINCT order_id) as Total_Orders FROM PizzaData GROUP BY order_day;

 * sqlite:///PizzaProject.db
48620 rows affected.
 * sqlite:///PizzaProject.db
Done.

[(None, 21350)]

In [178]:
%sql SELECT * FROM PizzaData LIMIT 1;

 * sqlite:///PizzaProject.db
Done.

[(1, 1, 'hawaiian_m', 1, '2015-01-01 00:00:00', '11:38:36.000000', 13.25, 13.25, 'M', 'Classic', 'Sliced Ham, Pineapple, Mozzarella Cheese', 'The Hawaiian Pizza')]

In [199]:
%sql SELECT order_date, order_id,strftime('%d', order_date) as Day, \
    strftime('%w', order_date) as Num_day,\
    strftime('%m', order_date) as Month,\
    strftime('%Y', order_date) as Year\
    FROM PizzaData \
    WHERE Num_day in(5) LIMIT 10;

 * sqlite:///PizzaProject.db
Done.

[]

In [191]:
%sql SELECT Name_day, COUNT(DISTINCT(order_id)) as Total_Order  FROM Date_Update_ \
LIMIT 5;

 * sqlite:///PizzaProject.db
Done.

[('Thursday', 2)]

In [185]:
%sql SELECT * FROM PizzaData LIMIT 1;

 * sqlite:///PizzaProject.db
Done.

[(1, 1, 'hawaiian_m', 1, '2015-01-01 00:00:00', '11:38:36.000000', 13.25, 13.25, 'M', 'Classic', 'Sliced Ham, Pineapple, Mozzarella Cheese', 'The Hawaiian Pizza')]